# **_<mark>EXERCÍCIO 1</mark>_**

## **CRIANDO O BANCO DE DADOS**

In [1]:
--CRIAR O DB LOCAL (comando executado no MSSMS)
--CREATE DATABASE DESAFIO
--GO

--SELECIONANDO O BANCO DE DADOS
USE [DESAFIO]
GO

## **CRIANDO AS TABELAS DIMENSÃO**

In [2]:
--SELECIONANDO O BANCO DE DADOS
USE [DESAFIO]
GO

--CRIANDO A TABELA DIMENSÃO CIDADE

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Cidade' AND xtype='U')
CREATE TABLE [dbo].[D_Cidade](
    [Id_Cidade] [int] IDENTITY(1,1) NOT NULL,
    [Nome_Cidade] [varchar](60) NULL,
    [UF] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


--CRIANDO A TABELA DIMENSÃO VENDEDORES

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Vendedores' AND xtype='U')
CREATE TABLE [dbo].[D_Vendedores](
    [Id_Vendedor] [int] IDENTITY(1,1) NOT NULL,
    [Nome_Vendedor] [varchar](60) NULL,
    [Salario] [decimal](10,2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


--CRIANDO A TABELA DIMENSÃO CATEGORIA

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Categoria' AND xtype='U')
CREATE TABLE [dbo].[D_Categoria](
    [Id_Categoria] [int] IDENTITY(1,1) NOT NULL,
    [Nome_Categoria] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


--CRIANDO A TABELA DIMENSÃO UNIDADE

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Unidade' AND xtype='U')
CREATE TABLE [dbo].[D_Unidade](
    [Id_Unidade] [varchar](3) NOT NULL,
    [Desc_Unidade] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Unidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


--CRIANDO A TABELA DIMENSÃO PRODUTOS

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Produtos' AND xtype='U')
CREATE TABLE [dbo].[D_Produtos](
    [Id_Prod] [int] IDENTITY(1,1) NOT NULL,
    [Nome_Prod] [varchar](50) NULL,
    [Id_Categoria] [int] NOT NULL,
    [Id_Unidade] [varchar](3) NOT NULL,
    [Preco] [decimal](10,2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[D_Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Categ] FOREIGN KEY([Id_Categoria])
REFERENCES [dbo].[D_Categoria] ([Id_Categoria])
GO
ALTER TABLE [dbo].[D_Produtos] CHECK CONSTRAINT [FK_Categ]
GO
ALTER TABLE [dbo].[D_Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Unid] FOREIGN KEY([Id_Unidade])
REFERENCES [dbo].[D_Unidade] ([Id_Unidade])
GO
ALTER TABLE [dbo].[D_Produtos] CHECK CONSTRAINT [FK_Unid]
GO


--CRIANDO A TABELA DIMENSÃO CLIENTE

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Cliente' AND xtype='U')
CREATE TABLE [dbo].[D_Cliente](
    [Id_Cliente] [int] IDENTITY(1,1) NOT NULL,
    [Nome_Cliente] [varchar](60) NULL,
    [Endereco] [varchar](60) NULL,
    [Numero] [varchar](10) NOT NULL,
    [Id_Cidade] [int] NULL,
    [CEP] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[D_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cid] FOREIGN KEY([Id_Cidade])
REFERENCES [dbo].[D_Cidade] ([Id_Cidade])
GO
ALTER TABLE [dbo].[D_Cliente] CHECK CONSTRAINT [FK_Cid]
GO


--CRIANDO A TABELA DIMENSÃO VENDAS

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Vendas' AND xtype='U')
CREATE TABLE [dbo].[D_Vendas](
    [Num_Venda] [int] IDENTITY(1,1) NOT NULL,
    [Data_Venda] [datetime] NULL,
    [Id_Cliente] [int] NOT NULL,
    [Id_Vendedor] [int] NOT NULL,
    [Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_Venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[D_Vendas]  WITH CHECK ADD  CONSTRAINT [FK_Clie] FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[D_Cliente] ([Id_Cliente])
GO
ALTER TABLE [dbo].[D_Vendas] CHECK CONSTRAINT [FK_Clie]
GO
ALTER TABLE [dbo].[D_Vendas]  WITH CHECK ADD  CONSTRAINT [FK_Vended] FOREIGN KEY([Id_Vendedor])
REFERENCES [dbo].[D_Vendedores] ([Id_Vendedor])
GO
ALTER TABLE [dbo].[D_Vendas] CHECK CONSTRAINT [FK_Vended]
GO

## **CRIANDO A TABELA FATO**

In [24]:
--SELECIONANDO O BANCO DE DADOS
USE [DESAFIO]
GO

IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='Fato_Venda_Itens' AND xtype='U')
CREATE TABLE [dbo].[Fato_Venda_Itens](
    [Num_Venda] [int] IDENTITY(1,1) NOT NULL,
    [Num_Seq] [int] NOT NULL,
    [Id_Prod] [int] NOT NULL,
    [Qtde] [decimal](10,2) NULL,
    [Val_Unit] [decimal](10,2) NULL,
    [Val_Total] [decimal](10,2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_Venda] ASC,
    [Num_Seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fato_Venda_Itens]  WITH CHECK ADD  CONSTRAINT [FK_VendItem] FOREIGN KEY([Id_Prod])
REFERENCES [dbo].[D_Produtos] ([Id_Prod])
GO
ALTER TABLE [dbo].[Fato_Venda_Itens] CHECK CONSTRAINT [FK_VendItem]
GO
ALTER TABLE [dbo].[Fato_Venda_Itens]  WITH CHECK ADD  CONSTRAINT [FK_VendItem2] FOREIGN KEY([Num_Venda])
REFERENCES [dbo].[D_Vendas] ([Num_Venda])
GO
ALTER TABLE [dbo].[Fato_Venda_Itens] CHECK CONSTRAINT [FK_VendItem2]
GO

# **<mark>_EXERCÍCIO 2_</mark>**

Banco de dados TREINO restaurado

# **_<mark>EXERCÍCIO 3</mark>_**

Liste todos os clientes com seus nomes e com suas respectivas cidades e estados

In [26]:
--SELECIONANDO O BANCO DE DADOS
USE [TREINO]
GO


--LISTA DE CLIENTES
SELECT CLI.NOME_CLIENTE, CID.NOME_CIDADE AS CIDADE, CID.UF
FROM [dbo].[CLIENTE] CLI
INNER JOIN [dbo].[CIDADE] CID
ON CLI.ID_CIDADE = CID.ID_CIDADE
ORDER BY 1

NOME_CLIENTE,CIDADE,UF
Giga 10,Campinas,SP
Hiper Giga,São Paulo,SP
Hiper Sempre,São Paulo,SP
Lojas Mega,Jundiai,SP
Lojas Plus,Volta Redonda,RJ
Lojas Vitoria,Volta Redonda,RJ
Rede Atacado,Rio de Janeiro,RJ
Rede mais,Niterói,RJ
Rede MercoSul,Niterói,RJ
Super Tera,Rio de Janeiro,RJ

# **_<mark>EXERCÍCIO 4</mark>_**

Liste o código do produto, descrição do produto e a descrição das categorias dos produtos que tenham o valor unitário na faixa de R$ 10,00 a R$ 1500

In [32]:
--SELECIONANDO O BANCO DE DADOS
USE [TREINO]
GO

--LISTA DE PRODUTOS
SELECT PRD.ID_PROD AS COD_PRODUTO, PRD.NOME_PRODUTO AS DESC_PRODUTO, CAT.NOME_CATEGORIA AS DESC_CATEGORIA
FROM [dbo].PRODUTOS PRD 
LEFT JOIN [dbo].[CATEGORIA] AS CAT
ON PRD.ID_CATEGORIA =  CAT.ID_CATEGORIA
WHERE PRD.PRECO BETWEEN 10 AND 1500
ORDER BY PRD.ID_PROD

COD_PRODUTO,DESC_PRODUTO,DESC_CATEGORIA
1,HD 500 1 TB,Informática
2,Monitor 17,Informática
3,Monitor 15,Informática
4,HD SSD 250 GB,Informática
5,Teclado,Informática
9,TV Plasma 32,TV´s
10,Fogao,Utilidades do Lar
11,Mixer,Eletrodomesticos
12,Batedeira,Eletrodomesticos
13,Liquidificador,Eletrodomesticos
14,Geladeira,Eletrodomesticos
15,Aspirador de pó,Utilidades do Lar

# **_<mark>EXERCÍCIO 5</mark>_**

Liste o código do produto, descrição do produto e descrição da categoria dos produtos, e também apresente uma coluna condicional com o nome de "faixa de preço"

Com os seguintes critérios 

• preço\< 500 : valor condicional será igual "preço abaixo de 500" 

• preço \>= 500 e \<=1000 valor condicional será igual "preço entre 500 e 1000" 

• preço \> 1000 : valor condicional será igual "preço acima de 1000".

In [41]:
--LISTA DE PRODUTOS
SELECT PRD.ID_PROD AS COD_PRODUTO, PRD.NOME_PRODUTO AS DESC_PRODUTO, CAT.NOME_CATEGORIA AS DESC_CATEGORIA, 
    CASE 
        WHEN PRD.PRECO < 500 THEN 'preço abaixo de 500'
        WHEN PRD.PRECO BETWEEN 500 AND 1000 THEN 'preço entre 500 e 1000'
        ELSE 'preço acima de 1000' 
    END AS FAIXA_PRECO
FROM [dbo].PRODUTOS PRD 
LEFT JOIN [dbo].[CATEGORIA] AS CAT
ON PRD.ID_CATEGORIA =  CAT.ID_CATEGORIA
ORDER BY PRD.ID_PROD

COD_PRODUTO,DESC_PRODUTO,DESC_CATEGORIA,FAIXA_PRECO
1,HD 500 1 TB,Informática,preço abaixo de 500
2,Monitor 17,Informática,preço entre 500 e 1000
3,Monitor 15,Informática,preço entre 500 e 1000
4,HD SSD 250 GB,Informática,preço entre 500 e 1000
5,Teclado,Informática,preço abaixo de 500
6,TV LED 40,TV´s,preço acima de 1000
7,TV LCD 40,TV´s,preço acima de 1000
8,SMART TV 4K 50,TV´s,preço acima de 1000
9,TV Plasma 32,TV´s,preço acima de 1000
10,Fogao,Utilidades do Lar,preço entre 500 e 1000
11,Mixer,Eletrodomesticos,preço abaixo de 500
12,Batedeira,Eletrodomesticos,preço abaixo de 500
13,Liquidificador,Eletrodomesticos,preço abaixo de 500
14,Geladeira,Eletrodomesticos,preço acima de 1000
15,Aspirador de pó,Utilidades do Lar,preço abaixo de 500